/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
     tapping-term-ms = <400>;
 };
 
/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "NORMAN";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  D  |  F  |  K  |   |  J  |  U   |  R  |  L  |  ;  | BSPC |
// | MO-3 |  A  |  S  |  E  |  T  |  G  |   |  Y  |  N   |  I  |  O  |  H  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  P  |  M   |  ,  |  .  |  /  | RSFT |
//                    | GUI | MO-2| SPC |   | ENT | BSPC | MO-1 |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp D &kp F &kp K    &kp J &kp U &kp R    &kp L   &kp SEMI    &kp BSPC
   &mo 3     &kp A &kp S &kp E &kp T &kp G    &kp Y &kp N &kp I    &kp O   &kp H    &kp ENTER
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B    &kp P &kp M &kp CMMA &kp DOT &kp FSLH &kp RSFT
                   &kp LGUI &mo 2 &kp SPACE   &kp ENTER &kp BSPC &mo 1
                        >;
                };
                adj_layer {
                        label = "ADJ";
// -----------------------------------------------------------------------------------------
// | RESET|boot |     |     |     |     |   |     |     |     |     |     |boot |RESET
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | Vol+|     |     |     |     |      |Vol+
// |      |     |     |     |     |     |   | Vol-| MUTE| PREV| NEXT|     |      |Vol-
//                    |     |     |     |   | Play| MUTE|     |
                        bindings = <
   &reset     &bootloader  &none        &none        &none        &none         &none        &none      &none      &none      &bootloader &reset
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4  &kp C_VOL_UP &none      &none      &none      &none &kp C_VOL_UP
   &none      &none        &none        &none        &none        &none         &kp C_VOL_DN &kp K_MUTE &kp C_PREV &kp C_NEXT &none &kp C_VOL_DN
                          	        	&none     	 &none        &none      	&kp C_PP     &kp K_MUTE &trans
                        >;
                };

                num_layer {
                        label = "NUM";
// -----------------------------------------------------------------------------------------
// |  ESC |     |SG-3 |SG-4 |SGC4 |SG-5 |   |  =  |  7  |  8  |  9  |  [  | ]    |
// |MO-4  |     |     |     |     |     |   |  -  |  4  |  5  |  6  |  '  |  `   |
// | SHFT |     |     |     |SAG-V| CG-V|   |  /  |  1  |  2  |  3  |  \  |  SHFT|
//                    |     |     | SPC |   | ENT |  0  |  .   |
                        bindings = <
   &kp ESC   &none  &kp LS(LG(N3)) &kp LS(LG(N4)) &kp LS(LG(LC(N4))) &kp LS(LG(N5))     &kp EQUAL   &kp N7 &kp N8 &kp N9 &kp LBKT &kp RBKT
   &mo 4 	 &none 	&none 		   &none 		  &none 			 &none    			&kp MINUS 	&kp N4 &kp N5 &kp N6 &kp APOS  &kp GRAVE
   &kp LSHFT &none  &none    	   &none 		  &kp LS(LA(LG(V)))  &kp LC(LG(V)) 		&kp FSLH    &kp N1 &kp N2 &kp N3 &kp BSLH &kp RSHFT
              										&none &none 	 &kp SPACE    		&kp ENTER 	&kp N0 &kp KP_DOT
                        >;
                };
                
                nav_layer {
                        label = "NAV";
// -----------------------------------------------------------------------------------------
// |  ESC |     |     |     |     |     |   |     |BSPC | UP  | Del |PgUp | Home |
// |      |SHFT |     |     |     |     |   |A-Lft|Left |Down |Rght |A-Rgt| End  |
// | SHFT |     |     |     |     |     |   |Caps |     |     |     |     |      |
//                    | GUI |     | SPC |   |A-BS |     |     |
                        bindings = <
   &kp ESC   &none   &none  &none    &none    &none       &none     &kp BSPC  &kp UP  	&kp DEL &kp PG_UP &kp HOME
   &trans &kp LSHFT  &none  &none    &none    &none       &kp LA(LEFT) &kp LEFT &kp DOWN  &kp RIGHT &kp LA(RIGHT) &kp END
   &kp LSHFT &none   &none  &none    &none    &none       &kp CAPS &none  &none  &none &kp PG_DN &none
                    	     &none &none   &kp SPACE   &kp LA(BSPC)   &kp BSPC    &none
                        >;
                };
                
                func_layer {
                        label = "FUNC";
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |     |  F7 |  F8 | F9  | F10 | F11  |
// |      |     |     |     |     |     |   |     |  F4 |  F5 | F6  |     |      |
// | SHFT |     |     |     |     |     |   |     |  F1 |  F2 | F3  |     |      |
//                    |     |     |     |   |     |     |     |
                        bindings = <
   &none 	 &none &none &none &none &none   &none &kp F7 &kp F8 &kp F9 &kp F10 &kp F11
   &none 	 &none &none &none &none &none   &none &kp F4 &kp F5 &kp F6 &none 	&none
   &kp LSHFT &none &none &none &none &none   &none &kp F1 &kp F2 &kp F3 &none 	&none
                		 &none &none &none   &none &none &none
                        >;
                };
        };
};
