/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define SYMBOLS 3

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
// -----------------------------------------------------------------------------------------
// |  TAB    |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | SYMBOLS |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT    |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT |
//                       | GUI | RSE | SPC |   | ENT | LWR  | ALT |
                        bindings = <
   &kp TAB     &kp Q &kp W &kp E &kp R &kp T                    &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &mo SYMBOLS &kp A &kp S &kp D &kp F &kp G                    &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT   &kp Z &kp X &kp C &kp V &kp B                    &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                 kp LGUI &mo RAISE &kp SPACE                    &kp RET &mo LOWER &kp RALT
                        >;
                };

                lower_layer {
                        label = "LOWER";
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |   DEL  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |  BKSP  |      |
// | SHFT |     |     |     |     |     |   |     | ESC |     |     |        |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp TAB    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5                                          &kp N6    &kp N7   &kp N8   &kp N9    &kp DEL   &kp BSPC
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                                    &kp LEFT  &kp DOWN &kp UP   &kp RIGHT &kp BSPC  &trans
   &kp LSHFT  &trans       &trans       &trans       &trans       &trans                                          &kp EQUAL &kp ESC  &trans   &trans    &trans    &trans
                          	        &kp LGUI     &trans       &kp SPACE                                       &kp RET   &trans   &kp RALT
                        >;
                };

                raise_layer {
                        label = "RAISE";
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// |      |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  | "|"  |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT                         &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &trans    &trans   &trans &trans   &trans   &trans                            &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp PIPE
   &kp LCTRL &trans   &trans &trans   &trans   &trans                            &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp TILDE
                    	     &kp LGUI &trans   &kp SPACE                         &kp RET   &trans    &kp RALT
                        >;
                };

                symbols_layer {
                        label = "SYMBOLS";
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  {  |  }  |  |  |   |  /  |  7  |  8  |  9  |  &  |   \  |
// |      |  #  |  $  |  (  |  )  |  `  |   |  *  |  4  |  5  |  6  |  0  |   "  |
// |      |  %  |  ^  |  [  |  ]  |  ~  |   |  +  |  1  |  2  |  3  |  .  |      |
//                    | GUI |     | SPC |   |     |     |     |
                        bindings = <
   &kp TAB &kp EXCL  &kp AT    &kp LBRC &kp RBRC &kp PIPE                           &kp FSLH        &kp N7   &kp N8   &kp N9 &kp AMPS &kp BSLH
   &trans  &kp HASH  &kp DLLR  &kp LPAR &kp RPAR &kp GRAVE                          &kp KP_MULTIPLY &kp N4   &kp N5   &kp N6 &kp N0   &kp DQT
   &trans  &kp PRCNT &kp CARET &kp LBKT &kp RBKT &kp TILDE                          &kp PLUS        &kp N1   &kp N2   &kp N3 &kp DOT  &trans
                    &kp LGUI     &trans       &kp SPACE                                       &kp RET  &trans   &kp RALT
                        >;
                };
        };
};
