/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define COLEMAK 0
#define NUMBER 1
#define SYMBOL 2
#define CONFIG 3


/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
};


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "colemak";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp F &kp P &kp B                  &kp J &kp L  &kp U     &kp Y   &kp SEMI  &kp MINUS
   &kp BKSP &kp A &hm LCTRL R &hm LSHFT S &hm LALT T &kp G    &kp M &hm RALT N  &hm RSHFT E   &hm RCTRL I   &kp O   &kp SQT
   &tog 3 &kp Z &kp X &kp C &kp D &hm LGUI V                 &kp K &kp H  &kp COMMA &kp DOT &kp FSLH  &kp CAPS
                  &tog 1 &kp SPACE &kp RET             &kp ESC &kp SPACE &tog 2
                        >;
                };
                number_layer {
                        label = "number";
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp GRAVE    &kp N1   &kp N2  &kp N3   &kp N4   &kp N5                       &kp N6   &kp N7   &kp N8 &kp N9 &kp N0 &kp DEL
   &trans &kp HOME  &hm LCTRL END  &hm LSHFT UP &hm LALT LPAR &kp RPAR          &kp PLUS  &hm RALT MINUS  &hm RSHFT KP_MULTIPLY &hm RCTRL KP_DIVIDE &kp EQUAL &kp HOME
   &kp LSHFT  &trans &kp LEFT  &kp DOWN  &kp RIGHT  &trans                      &kp C_PLAY_PAUSE  &kp C_VOLUME_UP  &kp C_VOLUME_DOWN &kp DOT &kp BSLH &kp END
                          	        &trans     &trans       &trans                              &trans   &trans   &trans 
                        >;
                };

                symbol_layer {
                        label = "symbol";
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp TILDE  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT                      &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &trans
   &kp BKSP &kp BSLH  &hm LCTRL PIPE &hm LSHFT TILDE &hm LALT LBRC  &kp RBRC     &kp UNDER &hm RALT EQUAL &hm RSHFT UP &hm RCTRL LBKT &kp RBKT &kp HOME
   &kp LSHFT &kp K_UNDO &kp K_CUT &kp K_COPY &none &kp K_PASTE                &kp UNDER &kp LEFT  &kp DOWN       &kp RIGHT &none &kp END
                    	     &trans     &trans       &trans                              &trans   &trans   &trans
                        >;
                };
                    config_layer {
                        label = "config";
                        bindings = <
   &kp F1      &kp F2  &kp F3   &kp F4    &kp F5 &kp F6                        &kp F7   &kp F8   &kp F9 &kp F10   &kp F11 &kp F12
   &kp BKSP &none &none &none &none &kp PSCRN                                  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4  &bt BT_CLR
   &tog 3 &kp K_UNDO &kp K_CUT &kp C_AC_COPY &trans &kp C_AC_PASTE          &kp C_PLAY_PAUSE  &kp C_VOLUME_UP  &kp C_VOLUME_DOWN &none &kp LGUI &kp TILDE
                    	     &trans     &trans       &trans                              &trans   &trans   &trans
                        >;
                };
        };
};
